#about{
    min-height: 60vh;
    /* max-width: 100vh; */
}

#skills{
    min-height: 100vh;
    
    background-color: rgb(62, 16, 104);
}

#projects{
    min-height: 100vh;
    
}

#contact{
    min-height: 100vh;
    background-color: rgb(62, 16, 104);
}
.imageStyle{
    border-radius: 10%;
}
/* 
.description{
    
} */